@import "margins.css";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "ShareTechMono";
  src: url("/fonts/ShareTechMono-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --bg-main: #0e0b08; /*#15110c; #211a13;*/
  --fg-main: #f1f4f7; /*#dee5ec;*/
  --fg-link: #007fff;
  --fg-link-hover: #ff8000;
  --fg-border: #8dd9cc;

  --accent-1: #ffffdd;
  --accent-2: #8366f4;
  --accent-3: #b768a2;
  --accent-4: #8f9779;

  --good: #319177;
  --warn: #ff3503;
  --error: #9d2b22;
  --attention: #4aff00;

  font-size: 17px;
}
html {
  transistion: margin 1s ease-out;
}

header {
  align-items: center;
  border-bottom: solid 2px var(--fg-border);
  display: flex;
  justify-content: space-around;
  padding: 1.5vmin 0;
  top: 0;
  width: 96vw;
}


header h1 {
  color: var(--accent-1);
  flex-basis: 70%;
  font-size: clamp(28px, 4vmin, 40px);
}

header img {
  flex-basis: 20%;
}

section h2, h3 {
  font-size: clamp(22px, 3.5vmin, 30px);
}

a {
  color: var(--fg-link);
  text-decoration: none;
  transition: color 0.6s ease-in;
}

a:hover {
  color: var(--fg-link-hover);
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

body {
  background-color: var(--bg-main);
  color: var(--fg-main);
  font-family: 'Inter', sans-serif;
  overscroll-behavior-y: contain;
}

main p {
  font-size: clamp(17px , 2vmin, 18px);
  line-height: clamp(1.6rem, 3vmin, 1.8rem);
}


footer {
  bottom: 0;
  padding: 1.5vmin 0;
  border-top: solid 2px var(--fg-border);
  width: 96vw;
}

code {
  font-family: "ShareTechMono", monospace;
  font-size: 1.1rem;
}
